header {
	padding: 15px 0;
	margin: 0;
	color: #fff;
	border-bottom: solid #333 1px;
	background: #333;
}

.logo {
	width: 80px;
	height: 80px;
}

nav ul {
	list-style-type: none;
	padding-top: 34px;
	margin: 0 -15px 0 0;
	float: right;
	font-size: 14px;
	text-transform: uppercase;
	white-space: nowrap;
}

nav li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

nav li:hover a{
	background: #585858;
}

nav a{
	text-decoration: none;
	padding: 10px 15px;
	color: #eee;
	text-shadow: 2px 2px 4px #000;
}

nav a:hover {
	color: #fff;
}


.img { 
	width: 90%;
	height: 200px;
	margin: 10px;
}

p {
	color: blue;
	text-align: center;
	font-family: Arial;

}

.amg {
	width: 105px;
	height: 105px;
	position: relative;
	bottom: -150px;
	margin: 10px;

}

.col-2 p {
	position: relative;
	bottom: -150px;
	font-size: 11px;
	text-align: center;
}

.col-2 h4 {
	position: relative;
	right: -700px;
	top: -850px;
}


hr {
	width: 150%;
	color: #eeeeee;
	position: relative;
	right: -690px;
	top: -987px;
}


.col-12 {
	font-size: 20px;
	padding: 15px 15px;
	margin-left: 10px;

}
span {
	font-size: 13px;
	padding-left: 10px;
}

.mer {

	position: relative;
	top: -850px;
	right: -680px;
}

.col-12 p {
	font-size: 12px;
	position: relative;
	right: -700px;
	top: -870px;
}

.col-12 img {
    height: 12px;

}

.primero {
	background: #eeeeee;
	width: 950px;
	height: 330px;
	border-bottom: 2px solid gray;
}

header {
	margin-left: 167px;
	margin-right: 150px;
	margin-top: 20px;
}

.musa {
	position: relative;
	top: -100px;
}

.min {
	width: 175px;
	position: relative;
	left: -20px;
}

.min p {
	text-align: left;
}

span {
	color: black;
}

#footer  {
	width: 75%;
	height: 200px;
	background: #333;
	position: absolute;
	bottom: -1100px;
}

#footer p {
	color: white;
	text-align: justify;
	margin: 15px;
}

pre {
    color: #BCBCBC;
	font-family: Arial;
	text-align: center;
	position: relative;
	bottom: -14px;

	
}

.hijo {
	position: relative;
	right: -240px;
	font-size: 12px;
}
.hijo span {
	color: #707070;
}