*{
margin: 0;
padding; 0;
box-sizing: content-box;
}

.container {
	width: 900px;
	height: 500px;
}

.box {
display: inline;
position: relative;

.box p {
      position: absolute;
      right: 0;
      bottom: -10px;
      color: blue;
}


.imagen {
	height: 200px;
	width: 200px;
}

